{% extends 'base.html' %}

{% block title %}

{% endblock %}


{% block body %}

<!-- Job List -->
<div class="container">
	<div class="table-responsive-lg">
		<h1 class="text-center">Job List</h1>
		<table class="table table-hover table-dark">
			<thead>
				<tr>
					<th scope="col">Project Name</th>
					
					<th scope="col">Due Date</th>
					<th scope="col">Shoot Date</th>
					
					<th scope="col">Budget</th>
					
				</tr>
			 </thead>

			<tbody>
				{% for job in jobs %}
				<tr>
					<td>{{ job[1] }}</td>
					
					<td>{{ job[3] }}</td>
					<td>{{ job[4] }}</td>
					
					<td>{{ job[6] }}
					
						<a href="/delete?id={{ job[0] }}" class="btn btn-danger rightAligned" value="Delete">DELETE</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
				
		</table>
	</div>
</div>
<!-- End Job List -->

{% endblock %}